[include]
  path = ~/.gitconfig.local
[alias]
  ss = status
  graph = log --graph --pretty=format:'%C(GREEN)[%cd]%Creset - %C(ul yellow)%h %Creset: %s %C(auto)%d%Creset' --date=format:'%y-%m-%d' --decorate=short
  lol = log --pretty=format:'%C(GREEN)[%cd]%Creset - %C(ul yellow)%h %Creset: %s %C(auto)%d%Creset' --date=format:'%Y-%m-%d' --decorate=short
	st = status
	df = diff
[core]
	editor = vim
	quotepath = false
	autocrlf = false
	ignorecase = false
[credential]
	helper = store
[pull]
	rebase = false
	ff = only
[push]
	default = current
[init]
	defaultBranch = main
[color]
	ui = auto
[fetch]
	prune = true
